<div data-v-42f27458="" class="van-popup van-popup--center supportss" style="width: 80%; border-radius: 10px; max-width: 340px;z-index: 999999!important; display: none;">
    <div data-v-42f27458="" class="rule-box">
        <div data-v-42f27458="" class="title c-row c-row-middle-center">Quy tắc</div>
        <div data-v-42f27458="" class="info">
            <div data-v-42f27458="" class="comment">
                <div data-v-42f27458="">
                    <div data-v-42f27458="">
                        <p class="MsoNormal">
                            <font face="Times New Roman">LUẬT CHƠI XỔ SỐ 5D</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">*Quy định cá cược xổ số</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">( 1 ) Không được phép cược 2 bên (cược đối lập) ví dụ: trong
                                một kỳ xổ không được đặt cược Lớn/Nhỏ,Chẵn/Lẻ...</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">( 2 ) Không được phép cược 8 số trở lên trong cùng một kỳ xổ.
                            </font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">( 3 ) Nếu bị phát hiện có hành vi đặt cược phi pháp hoặc đặt
                                cược đối đầu, sẽ bị hủy bỏ lệnh rút tiền.</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">HƯỚNG DẪN GIẢI THƯỞNG</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Mỗi kỳ sẽ mở ngẫu nhiên 5 con số （00000-99999）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Ví dụ :</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Kỳ xổ hiện tại là 12345</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">A=1</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">B=2</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">C=3</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">D=4</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">E=5</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Tổng =A+B+C+D+E=15</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Cách chơi</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Người chơi có thể chỉ định đặt cược A,B,C,D,E và tổng hợp của
                                năm kết quả</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">A,B,C,D,E có thể mua</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Con số（0 1 2 3 4 5 6 7 8 9）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Nhỏ&nbsp; （0 1 2 3 4）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Lớn&nbsp; （5 6 7 8 9）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Lẻ&nbsp; &nbsp;（1 3 5 7 9）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Chẵn （0 2 4 6 8）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Tổng hợp =A+B+C+D+E có thể mua</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Nhỏ&nbsp; （0-22）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Lớn&nbsp; （23-45）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Lẻ&nbsp; &nbsp;（1 3 ···43 45）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Chẵn （0 2 ···42 44）</font>
                        </p>
                    </div>
                </div>
                <div data-v-42f27458="">
                    <!---->
                </div>
                <div data-v-42f27458="">
                    <!---->
                </div>
                <div data-v-42f27458="">
                    <!---->
                </div>
            </div>
            <div data-v-42f27458="" class="rule-btn c-row m-t-20 c-row-center">
                <button data-v-42f27458="" class="submit-support btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);">
                    <div data-v-42f27458="" class="van-button__content">
                        <span data-v-42f27458="" class="van-button__text">
                            <span data-v-42f27458="">Tôi biết</span>
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>